body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(44, 102, 173, 0.25);
}

#notifications {
  padding: 30px;
}
#addrow {
  background-color: #89e060;
}
.center {
  text-align: center;
}
.sm {
  font-size: 0.8em;
}
.lg {
  font-size: 2em;
}
.md {
  font-size: 1.2em;
}
#searchrow {
  background-color: white;
}

button,
.link-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 5px;
  font-size: 16px;
  color: #fff;
  background-color: #0056b3;
  text-decoration: none;
  border-radius: 4px;
  border: 0px;
}
button:hover,
.link-button:hover {
  background-color: #0057b3b8;
}

#container {
  width: fit-content;
  padding: 50px;
  margin: 0 auto;
  background-color: rgb(231, 231, 231);
  padding: 10px;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 10px #8a8a8a);
}

.success {
  background-color: #89e060;
}
.error {
  background-color: #d05d5d;
}
#table-content {
  padding: 3px;
  margin-top: 10px;
  /* background-color: rgb(231, 231, 231); */
  color: #000000;
  border-collapse: collapse;
}
#table-content tr:nth-child(odd) {
  background-color: #cdcdcd;
}
#table-content td:nth-child(1) {
  width: 50px;
}
#table-content td:nth-child(1) input {
  width: 80%;
}
td {
  width: auto;
  padding: 2px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #000;
}
input[type="text"],
input[type="number"] {
  background-color: #00000000;
  border-width: 1px;
}
