<!DOCTYPE html>
<html>
  <head>
    <title>Table Page</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/css/viewer.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.10/index.global.min.js"></script>
    <script src="{{ url_for('static', filename='/js/viewer.js') }}"></script>
  </head>
  <body>
    <img
      class="banner"
      src="{{ url_for('static', filename='/images/device_checkout.png') }}"
      alt="Broadcasting Checkout Title"
    />
    <div id="table">
      <div id="contain">
        <table id="table_scroll">
          <tbody></tbody>
        </table>
      </div>
    </div>
    <img
      class="banner"
      src="{{ url_for('static', filename='/images/calendar.png') }}"
      alt="Broadcasting Calendar Title"
    />
    <div id="calendar"></div>
  </body>
</html>
